<body class="fondo">
<mat-toolbar>
 <span class="centrar2">PEOPLE'S MARKET</span>
</mat-toolbar>
<mat-card class="centrar">
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
</body>
