.centrar{
  margin-left: 25%;
  max-width: 50%;
  align-content: center;
}

.centrar2{
  margin-left: 50%;
  max-width: 50%;
  align-content: center;
  color: blue;

}
.fondo{
  background-color: cadetblue;


}
