
<form [formGroup]="loginGroup">
  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="usuario">contacts</mat-icon> Usuario</mat-label>
    <input type="text" formControlName="user" matInput placeholder="Ingrese su usuario">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="contraseña">vpn_key</mat-icon> Contraseña </mat-label>
    <input type= "password" formControlName="pass" matInput placeholder="Ingrese su contraseña">
  </mat-form-field>

  <button mat-raised-button (click)="Data()" color="primary" [disabled]="loginGroup.invalid"><mat-icon aria-hidden="false" aria-label="contraseña">double_arrow</mat-icon>INGRESAR</button>
</form>
